<h2>Here are your orders</h2>

<table border="1">

{{#each order in model}}
<tr>
            <td>
                {{order.id }}
            </td>
            <td>
                {{order.$id }}
            </td>
            <td>
                {{order.$type }}
            </td>
    <td>
        {{order.customer }}
    </td>
    <td>
        {{order.orderdate }}
    </td>
</tr>
{{/each}}

</table>
